table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid blue;
  padding: 5px;
}

body {
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: 100%;
}

body :last-child {
  align-self: center;
}
